---
layout: page
description: "一个游走于代码行间十余年的胖子的日常!"
---

{% for post in paginator.posts %}
<div class="post-preview">
    <a href="{{ post.url | prepend: site.baseurl }}">
        <h2 class="post-title">
            {{ post.title }}
        </h2>
    	{% if post.subtitle %}
    	<h3 class="post-subtitle">
        	{{ post.subtitle }}
    	</h3>
    	{% endif %}
    	<div class="post-content-preview">
        	{{ post.content | strip_html | truncate:200 }}
    	</div>
    </a>
    <p class="post-meta">
        @{% if post.author %}{{ post.author }}{% else %}{{ site.author }}{% endif %} on {{ post.date | date: "%B %-d, %Y" }}
    </p>
</div>
<hr>
{% endfor %}

